Repository Grimbly-Station/Grimbly-Station, pull requests merged in 2024-10, with the labels that each got.

#107 Gives Rodentia their own language, and a bit of lore! GLORY TO RATSTOZKA!
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Grimbly/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/Grimbly/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Language/Species-Specific/rodentia.yml
  Resources/Prototypes/Recipes/Lathes/language.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: Status: Needs Review, Changes: YML, Priority: Medium, Size: Medium, Changes: Localization

#112 Fix Da Rules
  Resources/ConfigPresets/EinsteinEngines/default.toml
  Resources/ConfigPresets/GrimblyStation/default.toml
  Resources/Locale/en-US/Grimbly/guides.ftl
  Resources/Locale/en-US/deltav/guidebook/chemistry/chemistry/statuseffects.ftl
  Resources/Locale/en-US/deltav/guidebook/guides.ftl
  Resources/Prototypes/Grimbly/Guidebook/rules.yml
  Resources/ServerInfo/AssDayRules.txt
  Resources/ServerInfo/Guidebook/Grimbly/Rules/0_Admin.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/10_Psionics.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/11_Powergaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/12_Sec_Command.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/13_Sec_Escalation.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/14_SecPrisoners.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/1_No_ERP.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/2_Server.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/3_Chat.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/4_Metagaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/5_Summons.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/6_Naming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/7_RPGuidelines.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/8_Escalation.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/9_AntagonistGuidelines.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/D1_AdminRespect.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/D2_Exploits.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/E1_ERP.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/E2_Community.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/E3_Streaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/1_ServerExpectations.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/2_Metagaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/3_NewLife.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/4_NamingConventions.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/5_RoleplayGuidelines.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/6_Powergaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/7_EOR.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GrimblyRuleset.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C1_CommandSecurityJustice.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C2_PrisonerRule.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C3_Antags.xml
  Resources/ServerInfo/RP_Rules.txt
  Resources/ServerInfo/RedialAddresses.txt
  Resources/ServerInfo/RedialAddressesCentral.txt
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/RulesLRP.txt
  Resources/ServerInfo/Rules_DV.txt
Labels: Status: Needs Review, Changes: YML, Changes: Documentation, Changes: Localization, Changes: Config

#113 Lighthousefix
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Priority: Medium, Size: Medium, Changes: Map, Status: Needs Changes

#116 Revert "Lighthousefix"
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

#111 Removes rodentia sneak, gives them a new toy in return
  Content.Client/DeltaV/Abilities/CrawlUnderObjectsSystem.cs
  Content.Server/DeltaV/Abilities/CrawlUnderObjectsSystem.cs
  Content.Shared/DeltaV/Abilities/CrawlUnderObjectsComponent.cs
  Content.Shared/DeltaV/Abilities/SharedCrawlUnderObjectsSystem.cs
  Resources/Locale/en-US/deltav/actions/crawl-under-objects.ftl
  Resources/Prototypes/DeltaV/Actions/Types.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Rodentia.xml
Labels: Changes: YML, Changes: Documentation, Changes: C#, Changes: Localization

#120 Shoko Fixed v2
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: Map

#119 Lighthouse fixed V3
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

#124 Lowers antag amount for Grimbly Pop Balance.
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML
