Repository Grimbly-Station/Grimbly-Station, pull requests merged in 2024-09, with the labels that each got.

#2 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Status: Needs Review

#4 Funny test
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
Labels: Status: Needs Review, Changes: YML

#7 README changes
  README.md
Labels: Status: Needs Review, Changes: Documentation

#10 Ore buffs
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
Labels: Status: Needs Review, Changes: YML

#11 Test!
  Resources/ServerInfo/Intro.txt
Labels: Status: Needs Review

#14 Whitelist
  Resources/Prototypes/whitelists.yml
Labels: Status: Needs Review, Changes: YML

#17 sets AME fuel jar capacity to 1000
  Content.Shared/Ame/Components/AmeFuelContainerComponent.cs
Labels: Status: Needs Review, Priority: Medium, Changes: C#, Revert

#19 Geras Return!
  Content.Server/Grimbly/Geras/GerasComponent.cs
  Content.Server/Grimbly/Geras/GerasSystem.cs
  Content.Shared/Grimbly/Geras/SharedGerasSystem.cs
  Resources/Locale/en-US/Grimbly/geras/geras.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: Feature Request, Status: Needs Review, Changes: YML, Size: Medium, Changes: C#, Revert, Changes: Localization

#22 Returns Ashing
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Status: Needs Review, Changes: YML, Size: Very Small, Revert

#21 Welderbombing damage increase
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: Status: Needs Review, Changes: YML, Size: Very Small, Revert

#27 Update ConnectionManager.cs
  Content.Server/Connection/ConnectionManager.cs
Labels: Status: Needs Review, Changes: C#

#15 Increase required Security playtime for Captain.
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: Changes: YML, Priority: Very Low, Status: Needs Discussion

#30 Fixes Geras damagemod being busted (my bad)
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Changes: YML

#29 Removing DeltaV Changelog REDUX
  Resources/Changelog/DeltaVChangelog.yml
Labels: Status: Needs Review, Changes: YML

#25 Reverts/Tweaks DemonCore Nerfs
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Status: Needs Review, Changes: YML, Size: Small, Revert

#26 Station Wide DESTRUCTION
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Feature Request, Changes: YML, Priority: Medium, Revert

#34 Rebalance PT 1, Rifles.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
Labels: Status: Needs Review, Changes: YML, Size: Very Small

#38 Addictine-B-Gone
  Resources/Locale/en-US/_CD/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_CD/Reagents/medicine.yml
Labels: Status: Needs Review, Changes: YML, Changes: Localization

#45 Vulcan tweaking
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Status: Needs Review, Changes: YML

#43 Buff the Captain's Saber
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: Status: Needs Review, Changes: YML

#40 Port Vulpkanin Rework from EE
  Content.Client/Forensics/ScentTrackerSystem.cs
  Content.Server/Atmos/Components/FlammableComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/SpawnEntitiesBehavior.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Forensics/Components/ScentComponent.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Forensics/Systems/ScentTrackerSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Traits/Assorted/ConsumeDelayModifierComponent.cs
  Content.Server/Traits/Assorted/FlashPropertyModifierComponent.cs
  Content.Shared/DoAfter/DoAfter.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
  Content.Shared/Flash/Components/FlashComponent.cs
  Content.Shared/Forensics/Events.cs
  Content.Shared/Forensics/ForensicsComponent.cs
  Content.Shared/Forensics/ScentTrackerComponent.cs
  Resources/Audio/Voice/Vulpkanin/attritbutions.yml
  Resources/Audio/Voice/Vulpkanin/vulpscream1.ogg
  Resources/Audio/Voice/Vulpkanin/vulpscream2.ogg
  Resources/Audio/Voice/Vulpkanin/vulpscream3.ogg
  Resources/Audio/Voice/Vulpkanin/vulpscream4.ogg
  Resources/Audio/Voice/Vulpkanin/vulpscream5.ogg
  Resources/Locale/en-US/forensics/scent.ftl
  Resources/Prototypes/DeltaV/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/SoundCollections/vulpkanin.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Forensics/forensics.yml
Labels: Status: Needs Review, Changes: YML, Priority: Medium, Size: Medium, Changes: C#, Changes: Localization

#46 Removed server whitelist giving all role whitelists.
  Content.Server/Players/JobWhitelist/JobWhitelistManager.cs
Labels: Status: Needs Review, Changes: C#

#50 Added External Access For Mystagogue and Changed Captain Sec Playtime
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Feature Request, Changes: YML, Priority: Low, Size: Very Small

#49 Ashing Damage Tweak Reversion
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: YML, Priority: Very Low, Size: Very Small

#47 Reverting The Nyanocombat 2 Rework On Drills
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
Labels: Changes: YML

#48 Geras Return Redux Redux
  Content.Server/Grimbly/Geras/GerasComponent.cs
  Content.Server/Grimbly/Geras/GerasSystem.cs
  Content.Shared/Grimbly/Geras/SharedGerasSystem.cs
  Resources/Locale/en-US/Grimbly/geras/geras.ftl
  Resources/Locale/en-US/actions/actions/polymorph.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: Feature Request, Changes: YML, Priority: Medium, Changes: C#, Revert, Changes: Localization

#51 Re-ports tweaks from PR #43, #45, #34
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: YML, Priority: Medium, Size: Medium

#56 Once more, tries to fix admin things
  Content.Server/Administration/Commands/PlayTimeCommands.cs
Labels: Changes: C#

#58 Remove playtime requirements
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
Labels: Changes: YML

#60 Rules and antag playtime update
  Resources/Prototypes/Grimbly/Guidebook/rules.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/0_Admin.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/D1_AdminRespect.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/D2_Exploits.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/E1_ERP.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/E2_Community.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/E3_Streaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/1_ServerExpectations.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/2_Metagaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/3_NewLife.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/4_NamingConventions.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/5_RoleplayGuidelines.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/6_Powergaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/7_EOR.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GrimblyRuleset.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C1_CommandSecurityJustice.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C2_PrisonerRule.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C3_Antags.xml
Labels: Status: Needs Review, Changes: YML, Changes: Documentation

#64 Readd the PK (and rename LightRifle rounds in flight)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/mag-4.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/mag-5.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/pk.rsi/wielded-inhand-right.png
Labels: Status: Needs Review, Changes: YML, Changes: Sprite

#72 Ports Atmospheric Alerts Computer
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Client/Atmos/Consoles/AtmosAlertsComputerBoundUserInterface.cs
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml.cs
  Content.Server/Atmos/Consoles/AtmosAlertsComputerSystem.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Shared/Atmos/Consoles/Components/AtmosAlertsComputerComponent.cs
  Content.Shared/Atmos/Consoles/Components/AtmosAlertsDeviceComponent.cs
  Content.Shared/Atmos/Consoles/SharedAtmosAlertsComputerSystem.cs
  Resources/Locale/en-US/atmos/atmos-alerts-console.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Textures/Interface/AtmosMonitoring/status_bg.png
Labels: Feature Request, Status: Needs Review, Changes: YML, Priority: Medium, Size: Large, Changes: C#, Changes: Localization, Changes: UI

#68 Port Delta-V Jukebox Additions
  Resources/Audio/DeltaV/Jukebox/DOS=HIGH,_UMB.ogg
  Resources/Audio/DeltaV/Jukebox/Patricia_Taxxon_-_Minute_-_MONO.ogg
  Resources/Audio/DeltaV/Jukebox/Phoron_Will_Make_Us_RichMONO2.ogg
  Resources/Audio/DeltaV/Jukebox/Scratch_Post_-_OST_MONO.ogg
  Resources/Audio/DeltaV/Jukebox/a_different_reality_lagoona_remix.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/aggravated.it-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/autumnal_equinox.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/drozerix_-_alone.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/drozerix_-_leisurely_voice.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/every_light_is_blinking_at_onceMONO.ogg
  Resources/Audio/DeltaV/Jukebox/hackers-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/lasers_rip_apart_the_bulkheadMONO.ogg
  Resources/Audio/DeltaV/Jukebox/marhaba-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/psirius_-_nymphs_of_the_forest.mptm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/shibamata-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/space_asshole-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/superposition-MONO.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: Status: Needs Review, Changes: YML, Priority: Low, Changes: Audio

#67 Replace Delta-V mentions, Update README
  README.md
  Resources/ServerInfo/Guidebook/Grimbly/Rules/0_Admin.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/E2_Community.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/2_Metagaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GrimblyRuleset.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C1_CommandSecurityJustice.xml
Labels: Status: Needs Review, Priority: Urgent, Size: Small, Changes: Documentation

#73 Re-adds Fireaxe Prying
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/tool_qualities.yml
Labels: Status: Needs Review, Changes: YML, Priority: Medium, Size: Small, Revert, Changes: Localization

#77 Quickswap enabled by default
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#80 Changes Equiptime Delay
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/shock_collar.yml
Labels: Status: Needs Review, Changes: YML, Priority: Low, Size: Very Small

#82 Changed default to false for run/walking
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#84 Update Rules
  Resources/Locale/en-US/info/rules.ftl
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/D1_AdminRespect.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/D2_Exploits.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/E2_Community.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/CommunityRules/E3_Streaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/1_ServerExpectations.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/2_Metagaming.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GameRules/4_NamingConventions.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/GrimblyRuleset.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C1_CommandSecurityJustice.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C2_PrisonerRule.xml
  Resources/ServerInfo/Guidebook/Grimbly/Rules/RoleRules/C3_Antags.xml
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/Rules_DV.txt
Labels: Status: Needs Review, Priority: Urgent, Size: Medium, Changes: Documentation, Changes: Localization

#86 Survival Changes - Event Scheduler
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML

#89 Survival Scheduler fix
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, Changes: C#

#91 Fixes Mantis Typo Psionic Registry
  Resources/Locale/en-US/psionics/noospheric-storm.ftl
Labels: Changes: Localization

#92 Removes the Rat King
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML

#95 Update GrimblyChangelog.yml
  Resources/Changelog/GrimblyChangelog.yml
Labels: Changes: YML

#97 [PRIORITY PR] Re-enables old Bwoink sound
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
Labels: Status: Needs Review, Priority: Urgent, Size: Very Small, Changes: C#

#96 Make Rat King more Neutral
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/InventoryTemplates/rat_king_inventory_template.yml
Labels: Status: Needs Review, Changes: YML, Priority: High, Size: Small, Changes: Localization

#94 Revert "Removes the Rat King"
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Status: Needs Review, Changes: YML

#83 Emergency Toolbox Rework
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Textures/Objects/Misc/fire_extinguisher_mini.rsi/fire_extinguisher_closed.png
  Resources/Textures/Objects/Misc/fire_extinguisher_mini.rsi/fire_extinguisher_open.png
  Resources/Textures/Objects/Misc/fire_extinguisher_mini.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/fire_extinguisher_mini.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/fire_extinguisher_mini.rsi/meta.json
Labels: Status: Needs Review, Changes: YML, Priority: Medium, Size: Medium, Changes: Sprite

#99 HoP Access Rework
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Status: Needs Review, Changes: YML, Size: Medium, Size: Small

#102 Bluesec
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Textures/Clothing/OuterClothing/Coats/wardenblue.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/wardenblue.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/wardenblue.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/wardenblue.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/wardenblue.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathosblue.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathosblue.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathosblue.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathosblue.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathosblue.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsecblue.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsecblue.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsecblue.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsecblue.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsecblue.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenblue.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenblue.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenblue.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenblue.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwardenblue.rsi/meta.json
Labels: Feature Request, Status: Needs Review, Changes: YML, Priority: Medium, Size: Medium, Changes: Sprite

#100 Remove playtime requirements (part 2)
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
Labels: Changes: YML, Priority: Urgent, Size: Small

#105 Rodentia now crawl normally
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
Labels: Changes: YML, Priority: High, Size: Very Small
