Repository Grimbly-Station/Grimbly-Station, pull requests merged in 2024-11, with the labels that each got.

#123 Corpsman&sec loadout hotfix
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Loadouts/backpacks.yml
  Resources/Prototypes/Loadouts/duffelbags.yml
  Resources/Prototypes/Loadouts/satchels.yml
Labels: Changes: YML

#126 Shoko_v4 Fixed dock door again.
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: Map

#129 consumption is important
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: YML, Changes: C#

#130 Glacier v1
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, Changes: Map

#128 Pebble V1
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, Changes: Map

#132 Allow bladed melee weapons to cut food
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: Status: Needs Review, Changes: YML, Priority: Low, Size: Very Small
